
        /* 薄荷头像空间 */
        .right-msg .msg-name628 {
            position: relative;
            padding-right: 42px;
            line-height: 36px;
        }
        /* 万俟子琅头像空间 */
        .right-msg .msg-nameA {
            position: relative;
            padding-right: 42px;
            line-height: 36px;
        }
        /* 刘歌产2头像空间 */
        .right-msg .msg-name52a {
            position: relative;
            padding-right: 42px;
            line-height: 36px;
        }


        /* 乌龟头像空间 */
        .left-msg .msg-nameB {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 人形乌龟头像空间 */
        .left-msg .msg-nameBb {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 桑肖柠头像空间 */
        .left-msg .msg-nameC {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 宋分题头像空间 */
        .left-msg .msg-nameD {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 宋命题头像空间 */
        .left-msg .msg-nameE {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 贝采薇头像空间 */
        .left-msg .msg-nameF {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }


        /* DeepSeek头像空间 */
        .left-msg .msg-nameDS {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }



        /* 余厌厌头像空间 */
        .left-msg .msg-name1 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 舍管阿姨头像空间 */
        .left-msg .msg-name2 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 柳千妩头像空间 */
        .left-msg .msg-name3 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 安芷染头像空间 */
        .left-msg .msg-name4 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 黄莺莺头像空间 */
        .left-msg .msg-name5 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 郑冽头像空间 */
        .left-msg .msg-name6 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 护士头像空间 */
        .left-msg .msg-name7 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 医生头像空间 */
        .left-msg .msg-name8 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 老公头像空间 */
        .left-msg .msg-name9 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 婆婆头像空间 */
        .left-msg .msg-name10 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 乞丐头像空间 */
        .left-msg .msg-name11 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 保安老王头像空间 */
        .left-msg .msg-name12 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 保安老张头像空间 */
        .left-msg .msg-name13 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 刘雨雯头像空间 */
        .left-msg .msg-name14 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 病人甲头像空间 */
        .left-msg .msg-name15 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 病人乙头像空间 */
        .left-msg .msg-name16 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 小男孩头像空间 */
        .left-msg .msg-name17 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 房产中介头像空间 */
        .left-msg .msg-name18 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 情侣女头像空间 */
        .left-msg .msg-name19 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 情侣男头像空间 */
        .left-msg .msg-name20 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 公交车司机头像空间 */
        .left-msg .msg-name21 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 老阿姨头像空间 */
        .left-msg .msg-name22 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 疯子头像空间 */
        .left-msg .msg-name23 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 助理头像空间 */
        .left-msg .msg-name24 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 路人甲头像空间 */
        .left-msg .msg-name25 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 路人乙头像空间 */
        .left-msg .msg-name26 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 巫鸦头像空间 */
        .left-msg .msg-name27 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 茉莉酱头像空间 */
        .left-msg .msg-name28 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 茉莉妈妈头像空间 */
        .left-msg .msg-name29 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 问路女人头像空间 */
        .left-msg .msg-name30 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 猪蹄老柳头像空间 */
        .left-msg .msg-name31 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 农民头像空间 */
        .left-msg .msg-name32 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 叶夜耶头像空间 */
        .left-msg .msg-name33 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 叶小小头像空间 */
        .left-msg .msg-name34 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 村民老张头像空间 */
        .left-msg .msg-name35 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 老张媳妇头像空间 */
        .left-msg .msg-name36 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 村民老刘头像空间 */
        .left-msg .msg-name37 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 村民老北头像空间 */
        .left-msg .msg-name38 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 商场经理头像空间 */
        .left-msg .msg-name39 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 服务生头像空间 */
        .left-msg .msg-name40 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 主持人头像空间 */
        .left-msg .msg-name41 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 工程师头像空间 */
        .left-msg .msg-name42 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 杂耍艺人头像空间 */
        .left-msg .msg-name43 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 沈妤头像空间 */
        .left-msg .msg-name44 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 沈橘灿头像空间 */
        .left-msg .msg-name45 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 箱鬼黑头像空间 */
        .left-msg .msg-name46 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 箱鬼白头像空间 */
        .left-msg .msg-name46a {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 奶茶店店员头像空间 */
        .left-msg .msg-name47 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 斑鸠头像空间 */
        .left-msg .msg-name48 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 4s店销售员头像空间 */
        .left-msg .msg-name49 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 改装工人头像空间 */
        .left-msg .msg-name50 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 岳决头像空间 */
        .left-msg .msg-name51 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 刘歌产头像空间 */
        .left-msg .msg-name52 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 沈殷头像空间 */
        .left-msg .msg-name53 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 谭溪夜头像空间 */
        .left-msg .msg-name54 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 伊藤奈子头像空间 */
        .left-msg .msg-name55 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 谭溪夜姑姑头像空间 */
        .left-msg .msg-name56 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 沈兮头像空间 */
        .left-msg .msg-name57 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 童初头像空间 */
        .left-msg .msg-name58 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 老奶奶头像空间 */
        .left-msg .msg-name59 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 长发女头像空间 */
        .left-msg .msg-name60 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 爷爷头像空间 */
        .left-msg .msg-name61 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 唐延玉头像空间 */
        .left-msg .msg-name62 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 伞小蕊头像空间 */
        .left-msg .msg-name63 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 木嘻嘻头像空间 */
        .left-msg .msg-name64 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 唐范统头像空间 */
        .left-msg .msg-name65 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 艾珍奈头像空间 */
        .left-msg .msg-name66 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 邵雪啸头像空间 */
        .left-msg .msg-name67 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 孙依星头像空间 */
        .left-msg .msg-name68 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 老和尚头像空间 */
        .left-msg .msg-name69 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 老和尚尸体头像空间 */
        .left-msg .msg-name69a {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 小和尚蒙面头像空间 */
        .left-msg .msg-name70 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 小和尚鬼头像空间 */
        .left-msg .msg-name70a {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 人皮鬼头像空间 */
        .left-msg .msg-name71 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 白开头像空间 */
        .left-msg .msg-name72 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 沐熙头像空间 */
        .left-msg .msg-name73 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 程肉肉头像空间 */
        .left-msg .msg-name74 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* ？薛糕头像空间 */
        .left-msg .msg-name75 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 救援1头像空间 */
        .left-msg .msg-name76 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 救援2头像空间 */
        .left-msg .msg-name77 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 猫头像空间 */
        .left-msg .msg-name78 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 救援3头像空间 */
        .left-msg .msg-name79 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 救援4头像空间 */
        .left-msg .msg-name80 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 黎梦头像空间 */
        .left-msg .msg-name81 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 孙家小学校长头像空间 */
        .left-msg .msg-name82 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 孙家小学校长鬼头像空间 */
        .left-msg .msg-name82a {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 语文老师头像空间 */
        .left-msg .msg-name83 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 数学老师头像空间 */
        .left-msg .msg-name84 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }
        /* 英语老师头像空间 */
        .left-msg .msg-name85 {
            position: relative;
            padding-left: 40px;
            line-height: 36px;
        }